{% extends 'partials/body.html' %}


{% load static %}


{% block contenido %}
<!-- Inicia el main -->
<main>
    <div id="myCarousel" class="carousel slide h-75" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'img/alcoba.jpeg'%}"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 style="color:black;">White Atelier Design Col.</h1>
                        <p style="color:black;">
                            Acabados y Remodelaciones W
                            Estudio de diseño de interiores
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'img/hamaca.jpeg'%}"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <div class="container">
                    <div class="carousel-caption">
                        <h1 style="color:black;">Jardin Central W.</h1>
                        <p style="color:black;">
                            Nuestro diseño de interiores para el patio se centra en la conexión con la naturaleza y la relajación al aire libre. 
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'img/estufa centro.jpeg'%}"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 style="color:black;">Excelentes acabados.</h1>
                        <p style="color:black;">
                            Transformamos estos espacios en piezas centrales que impresionan 
                            por su belleza, practicidad y distinción.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="{% static 'img/escritorio.jpeg' %}" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                
                <h2>Sala</h2>
                <p>
                    Los muebles de líneas limpias y texturas suaves crean un ambiente acogedor y relajante. Grandes ventanales permiten la entrada de luz natural y ofrecen vistas al jardín.
                </p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="{% static 'img/cama.jpeg' %}" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                
                <h2>Alcoba</h2>
                <p>
                    La alcoba es un oasis de tranquilidad y confort. Optamos por una paleta de colores suaves y serenos, como tonos suaves de gris y beige, que promueven la relajación.
                </p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="{% static 'img/tina vista.jpeg' %}" role="img" aria-label="Placeholder: 140x140"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>

                <h2>Baños</h2>
                <p>
                    Nuestro diseño de interiores para el baño es una celebración de la simplicidad y la elegancia. Utilizamos azulejos de mármol blanco en las paredes y el suelo, creando una sensación de luminosidad y amplitud.
                </p>
                <p><a class="btn btn-secondary" href="#">Ver detalles »</a></p>
            </div>
        </div>

        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Espacios
                    <span class="text-muted">Iluminados.</span>
                </h2>
                <p class="lead">
                    Ofrecemos servicios de diseño de interiores para casas y apartamentos, 
                    creando espacios que reflejan la personalidad y estilo de vida de nuestros clientes.
                    Analizamos las necesidades de cada proyecto y proponemos soluciones creativas e innovadoras 
                    para sacar el máximo provecho a los espacios disponibles. 
                    Contamos con un equipo de diseñadores expertos 
                    en tendencias y materiales, que se encargará de cada detalle para lograr ambientes modernos,
                    funcionales y estéticamente agradables. ¡Hagamos de tu hogar un reflejo de quién eres!

.
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/comedor.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                </img>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    Aprovechamiento<span class="text-muted"> e innovación</span>
                </h2>
                <p class="lead">
                    Reinventamos ambientes aplicando conceptos de diseño sostenible,
                     aprovechando materiales reciclados y amigables con el medio ambiente.
                     Realizamos remodelaciones integrales con visión funcional, estética y ecológica. 
                     Proponemos soluciones como: aprovechamiento de luz natural,
                     sistemas de ahorro de energía, materiales no tóxicos, entre otros.
        
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/balcon.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                </img>
            </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Practicidad <span class="text-muted">y distinción.</span>
                </h2>
                <p class="lead">
                    Rediseñamos y renovamos baños creando espacios únicos y funcionales
                    que se adaptan a los gustos y necesidades de nuestros clientes.
                    Complementamos el diseño con espejos, iluminación y accesorios vanguardistas.
                    Ofrecemos instalación profesional garantizada. Transformamos estos espacios en piezas centrales que impresionan por su belleza,
                    practicidad y distinción.
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'img/espejo.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                </img>
            </div>
        </div>
        <hr class="featurette-divider" />
    </div>
</main>
<!-- Finaliza el main -->
{% endblock contenido %}


{% block titulo %}
    2023
{% endblock titulo %}