{% extends 'partials/body-login.html' %}

{% load  static %}



{% block contenido %}
<h2>Registro de usuario</h2>

<form action="registro.php" method="post">

  <label>Nombre:</label>
  <input type="text" name="nombre"><br><br>

  <label>Email:</label>
  <input type="email" name="email"><br><br>

  <label>Contraseña:</label>
  <input type="password" name="pass1"><br><br>

  <label>Repite contraseña:</label>
  <input type="password" name="pass2"><br><br>

  <input type="submit" value="Registrarse">

</form>
    <input type="text" name="usuario" placeholder="Usuario">
    <input type="password" name="contraseña" placeholder="Contraseña">
    <input type="submit" value="Iniciar Sesión">
  </form>


{% endblock contenido %}
    